.myNav {
  background-color: #554a4a;
background-image: linear-gradient(326deg, #610606 0%, #6fc288 74%);

  height: 4rem;
}

.navLinks {
  color: white !important;
  padding: 1.2rem;
  float: right;
  text-decoration: none;
}

.vl {
  border-left: 5px solid rgb(175, 124, 48);

  height: 100%;
}
.homeContainer {
  display: grid;
  grid-template-columns: 30% 1% 69%;
}

.sideOneContainer {
  background-color: rgb(32, 27, 71);
  height: 100%;
}
.sideOneImageContainer {
  padding-top: 2rem;
  width: 90%;
  margin: auto;
}

.sideOneImage {
  height: 19rem;
  width: 85%;

  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  border-radius: 300px;
}

.name {
  color: white !important;
  text-align: center;
}

.learned li {
  color: white;
  list-style-type: none;
}

.social li {
    color: white;
    list-style-type: none;
  }

.socialMedia {
  float: none;
  color: white !important;
}
